<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
            @Styles.Render("~/Content/css/bootstrap")
            <link href="~/Content/calendar/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Content/calendar/fullcalendar.print.min.css" rel="stylesheet" media="print" />
   
    <style>
        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
                @*@Scripts.Render("~/Content/js/bootstrap")*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/moment.min.js"></script>
    <script src="~/Content/calendar/fullcalendar.min.js"></script>
    <script>

        $(document).ready(function () {

            $('#calendar').fullCalendar({
                customButtons: {
                    myCustomButton: {
                        text: 'custom!',
                        click: function () {
                            alert('clicked the custom button!');
                        }
                    }
                },
                header: {
                    left: 'prev,next today myCustomButton',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                footer: true,
                buttonIcons: {
                    prev: 'left-single-arrow',
                    next: 'right-single-arrow',
                    prevYear: 'left-double-arrow',
                    nextYear: 'right-double-arrow'
                },
                theme: false,
                themeButtonIcons: {
                    prev: 'circle-triangle-w',
                    next: 'circle-triangle-e',
                    prevYear: 'seek-prev',
                    nextYear: 'seek-next'
                },
                firstDay: 0, //0: sunday
                weekends: true, //true: show weekend days
                defaultDate: new Date(),
                //businessHours: {
                //    // days of week. an array of zero-based day of week integers (0=Sunday)
                //    dow: [ 1, 2, 3, 4, 5 ], // Monday - Thursday

                //    start: '10:00', // a start time (10am in this example)
                //    end: '18:00', // an end time (6pm in this example)
                //},
                showNonCurrentDates: false, //In month view, whether dates in the previous or next month should be rendered at all.
                eventLimit: 2,// allow "more" link when too many events
                eventLimitClick: function (cellInfo, jsEvent) {
                    //console.log('limit event');
                    //Nothing to see
                    //if (event.editevent) {
                    //    if (flg == false) {
                    //        flg = true;
                    //        update_event_pop(event);
                    //    }
                    //}
                },
                viewRender: function (view, element) {
                    //Triggered when a new date-range is rendered
                    console.log('view render');
                },
                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                selectHelper: true,
                select: function (start, end) {
                    var title = prompt('Event Title:');
                    var eventData;
                    if (title) {
                        eventData = {
                            title: title,
                            start: start,
                            end: end
                        };
                        $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                    }
                    $('#calendar').fullCalendar('unselect');
                },
                editable: true,
                eventResize: function(event, delta, revertFunc) {

                    alert(event.title + " end is now " + event.end.format());

                    if (!confirm("is this okay?")) {
                        revertFunc();
                    }

                },
                drop: function(date) {
                    alert("Dropped on " + date.format());
                },
                eventClick: function (event, jsEvent, view) {
                    //console.log(event);
                    //if (event.editevent) {
                    //    if (flg == false) {
                    //        flg = true;
                    //        update_event_pop(event);
                    //    }
                    //}
                },
                eventMouseout: function (event, jsEvent, view) {
                    //$(".popover").css({
                    //    'display': 'none'
                    //});
                    //console.log(view);
                },
                dayClick: function (date, element, view) {
                    console.log('date click');
                    //$(".popover").css({
                    //    'display': 'none'
                    //});
                    //if (flg == false) {
                    //    flg = true;
                    //    add_event_pop();
                    //}
                },
                dayRender: function (date, cell) {
                    console.log('day render');
                    //console.log(cell);
                    var $day = new Date(date);
                    //if ($day.getDate() == 1) {
                    //    cell.css("border-left", "3px solid green");
                    //}
                },
                events: [
                    {
                        id: 1,
                        title: 'All Day Event',
                        start: '2017-05-01',
                        editable: true //show cursor can click or not https://fullcalendar.io/docs/event_data/Event_Object/
                    },
                    {
                        id: 2,
                        title: 'Long Event',
                        start: '2017-05-07',
                        end: '2017-05-10',
                        editable: false //show cursor can click or not https://fullcalendar.io/docs/event_data/Event_Object/
                    },
                    {
                        id: 3,
                        title: 'rendering = true',
                        start: '2017-05-09T16:00:00'
                    },
                    {
                        id: 4,
                        title: 'Repeating Event',
                        start: '2017-05-16T16:00:00'
                    },
                    {
                        id: 5,
                        title: 'Conference',
                        start: '2017-05-11',
                        end: '2017-05-13'
                    },
                    {
                        id: 6,
                        title: 'Meeting',
                        start: '2017-05-12T10:30:00',
                        end: '2017-05-12T12:30:00'
                    },
                    {
                        id: 7,
                        title: 'Lunch',
                        start: '2017-05-12T12:00:00'
                    },
                    {
                        id: 8,
                        title: 'Meeting',
                        start: '2017-05-12T14:30:00'
                    },
                    {
                        id: 9,
                        title: 'Happy Hour',
                        start: '2017-05-12T17:30:00'
                    },
                    {
                        id: 10,
                        title: 'Dinner',
                        start: '2017-05-12T20:00:00'
                    },
                    {
                        id: 11,
                        title: 'Birthday Party',
                        start: '2017-05-13T07:00:00'
                    },
                    {
                        title: 'Click for Google',
                        url: 'http://google.com/',
                        start: '2017-05-28'
                    }
                ]
            });

        });

    </script>
</body>
</html>
