body{
    font-size:12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.bg-gray {
    background: #eee;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

label{
    margin-bottom: 1px;
}
.mrg-top-50 {
    margin-top: 50px;
}

.mrg-button-20 {
    margin-bottom: 20px;
}

.text-center {
    text-align: center !important;
}

.btn {
    padding: 4px 8px;
    font-size: 12px;
}

.fl-right {
    float: right !important;
}

.form-group {
    margin-bottom: 10px;
}

.basic-bg-color {
    background: rgb(0, 150, 136) !important;
}

.basic-color {
    color:white !important;
}

.primary-button {
    background: rgb(0, 150, 136) !important;
    color:white !important;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 6px;
    cursor: pointer;
}

/*TOp div*/
.logo img{
    max-width: 150px;
}

@media screen and (max-width: 768px){
    .logo img{
        max-width: 150px;
        text-align: center;
    }
}

.notifications-menu {

}

.right-bar {
    float: right;
    list-style: outside none none;
    margin-bottom: 0px !important;
    clear:both;
}

.right-bar li {
    float: left;
    position: relative;
    display: block;
    padding: 10px 15px;
}

.right-bar > li > a {
    padding-top: 10px;
}

.right-bar > li > a > i.fa {
    font-size: 14px;
}

.right-bar > li > a > .label {
    font-size: 9px;
    line-height: 0.9;
    padding: 2px 6px;
    position: absolute;
    right: -1px;
    text-align: center;
    top: 6px;
}

.label-schedule {
    background: rgb(14, 158, 62) !important;
    color: white;
}

.schedule-content {

}

.schedule-content > a:hover{
    text-decoration: none;
    background: rgb(244, 244, 244);
}

.schedule-content > a > h4 {
    color: #444444;
    font-size: 13px;
    padding: 0;
    position: relative;
}

.schedule-content > a > h4 > small {
    color: #999999;
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.schedule-content > a > p {
    color: #888888;
    font-size: 12px;
}

.label-notification {
    background: rgb(255, 185, 0) !important;
    color:white;
}

.label-task {
    background: rgb(217, 83, 79);
    color:white;
}

.right-bar> .user-menu .user-image {
    border-radius: 50%;
    float: left;
    height: 17px;
    margin-right: 10px;
    margin-top: 0;
    width: 17px;
}

.right-bar > li > .dropdown-menu {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    left: auto;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    top: 100%;
    width: 230px;
}


/*End top div*/

/* Navigation */
.section-navbar {
    background-color: rgb(0, 150, 136); /*#009688*/
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.toggleMenu {
    display: none;
    background: #666;
    padding: 10px 15px;
    color: #fff;
}

.toggleMenu:active,
.toggleMenu:focus, 
.toggleMenu:hover {
    color:white;
}

.nav {
    list-style: none;
    *zoom: 1;
}

.nav:before,
.nav:after {
    content: " ";
    display: table;
}

.nav:after {
    clear: both;
}

.nav ul {
    list-style: none;
}

.nav a {
    padding: 5px 10px;
    color: #fff;
}

.nav li {
    position: relative;
}

.nav > li {
    float: left;
}

.nav > li > .parent {
    background-position: right;
}

.nav > li > a {
    display: block;
    padding: 10px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background: rgb(23, 94, 76); /*#175e4c;*/
}

.nav > li > a > i{
    top: 2px;
}

.nav li ul {
    position: absolute;
    left: -9999px;
    padding-left:0px;
}

.nav > li.hover > ul {
    left: 0;
    width:auto;
    min-width:180px;
}

.nav li li.hover ul {
    left: 100%;
    top: 0;
    min-width: 190px;
}

.nav li li a {
    display: block;
    background: rgb(0, 150, 136); /*#009688*/
    position: relative;
    z-index: 100;
    border-top: 1px solid rgb(23, 94, 76); /*#175e4c;*/
    width: auto;
}

.nav li li a:hover {
    background: rgb(23, 94, 76); /*#175e4c;*/
    text-decoration:none;
}

.nav li li li a {
    background: rgb(0, 150, 136); /*#009688*/
    z-index: 200;
    border-top: 1px solid rgb(29, 122, 98);
}

.nav li li li a:hover {
    background: rgb(23, 94, 76); /*#175e4c;*/
}

@media screen and (max-width: 768px) {

    .active {
        display: block;
    }

    .nav > li {
        float: none;
    }

    .nav > li > .parent {
        background-position: 95% 50%;
    }

    .nav li li .parent {
        background-position: 95% 50%;
    }

    .nav ul {
        display: block;
        width: 100%;
    }

    .nav > li.hover > ul, .nav li li.hover ul {
        position: static;
    }
    
    .nav li ul {
        padding-left:unset;
    }
    .nav li ul li {
        padding-left: 20px;
    }

}

/*End Navigation*/


/*Footer*/

.section-footer {
    background-color: rgb(69, 90, 100);
}

/*End footer*/

/*Loading*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(249, 201, 34);
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

/*end loading*/

/*model*/


.modal-header .close {
    margin-top: 0;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.modal-dialog {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid rgb(60, 125, 207);
    border-radius: 0;
    box-shadow: none;
}

.modal-header {
    background: rgb(0, 150, 136);
    border-bottom: 1px solid rgb(0, 150, 136);
    color: white;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.modal-title {
  color: #fff;
}

.modal-body {
    position: absolute;
    top: 50px;
    bottom: 60px;
    width: 100%;
    padding: 10px;
}

.modal-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: rgb(241, 243, 245);
}

/*End model*/


/*custom panel*/

.panel {
    border: 1px solid rgb(0, 150, 136);
    margin-bottom: 3px;
}

.panel-default > .panel-heading {
    background: rgb(0, 150, 136) !important;
    color:white !important;
}

.panel-heading {
    font-weight:bold;
    text-align: center;
    padding: 5px;
}

.panel-title {
    font-size:14px;
    font-weight: bold;
}

.panel-body {
    padding: 2px;
}

.panel-danger > .panel-heading {
    background: rgb(183, 70, 53) !important;
    color:white !important;
}

.panel-schedule > .panel-heading {
    background: rgb(14, 158, 62) !important;
    color: white;
}

.panel-notification .panel-heading {
    background: rgb(255, 185, 0) !important;
    color: white;
}

.panel-task .panel-heading {
    background: rgb(217, 83, 79);
    color: white;
}

.panel-profile .panel-heading {
    background: rgb(255, 7, 1) !important;
    color:white;
    font-weight:bold;
}

.panel-schedule > .panel-footer,
.panel-notification > .panel-footer,
.panel-task > .panel-footer {
    text-align: center;
}

/*End custom panel*/

.page-header {
    background: rgb(155, 105, 16);
    margin: 0;
    padding-bottom: 0;
    color:White;
    font-weight:bold;
}

.page-tool{
    text-align:right;
    padding-top:5px;
}

.page-tool > span > i {
    color: white !important;    
    font-size:20px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .page-tool{
        text-align:left;
        padding-top:5px;
        padding-bottom:3px;
    }
}

label {
    font-weight:normal;
}

.form-control {
    font-size: 12px;
    height: 24px;
    padding: 3px 6px;
}

.color-red {
    color:red;
}

.input-validation-error {
    border-color: rgb(217, 83, 79);
    background: rgb(255, 117, 117);
}

.field-validation-error {
    color:rgb(217, 83, 79);
}

.ui-autocomplete{
    z-index: 9999;
}

/*Notification*/

.custom-success,
.custom-error,
.custom-warning {
    border-radius: 10px;
}

.gritter-item {
    padding: 2px 12px;
}

.gritter-with-image, 
.gritter-without-image {
    padding: 0 15px 0 0;
}

.gritter-without-image span {
    font-size: 14px;
}

.gritter-without-image p {
    font-size: 14px;
    font-weight:bold;
    line-height: 15px;
}

/*End Notification*/

/*Datatable*/

.dataTables_wrapper {
    margin-top:2px;
}

table.dataTable {
    margin: 0px !important;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 0px;
}

.table-bordered > thead > tr > th, 
.table-bordered > thead > tr > td{
    border-bottom-width: 0px;
}

table.dataTable thead .sorting::after, 
table.dataTable thead .sorting_asc::after, 
table.dataTable thead .sorting_desc::after, 
table.dataTable thead .sorting_asc_disabled::after,
 table.dataTable thead .sorting_desc_disabled::after {
    bottom: 4px !important;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
    padding: 4px !important;
}

.ctn-center {
    text-align:center;
}

select.input-sm {
    height: 22px;
    line-height: 22px;
}

/*End datatable*/


/*Tab*/
.nav-tabs > li > a {
    color: rgb(0, 150, 136) !important;
    border: 1px solid rgb(0, 150, 136) !important;
    padding: 4px;
}

.nav-tabs > li > a:hover,
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
    color: white !important;
    background-color: rgb(0, 150, 136) !important;
}

/*Tab*/


.glyphicon-remove {
    color: red;
    font-weight:bold;
}

.glyphicon-edit {
    font-weight:bold;
}