body{
    font-size:12px;
}
.mrg-top-50 {
    margin-top: 50px;
}

.mrg-button-20 {
    margin-bottom: 20px;
}

.text-center {
    text-align: center !important;
}

.basic-bg-color {
    background: rgb(0, 150, 136) !important;
}

.basic-color {
    color:white !important;
}

/*Login form*/
.form-title {
}
/*Login form*/

/* Navigation */
.section-navbar {
    background-color: rgb(0, 150, 136); /*#009688*/
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.toggleMenu {
    display: none;
    background: #666;
    padding: 10px 15px;
    color: #fff;
}

.toggleMenu:active,
.toggleMenu:focus, 
.toggleMenu:hover {
    color:white;
}

.nav {
    list-style: none;
    *zoom: 1;
}

.nav:before,
.nav:after {
    content: " ";
    display: table;
}

.nav:after {
    clear: both;
}

.nav ul {
    list-style: none;
    width: 9em;
}

.nav a {
    padding: 10px 15px;
    color: #fff;
}

.nav li {
    position: relative;
}

.nav > li {
    float: left;
    border-top: 1px solid #104336;
}

.nav > li > .parent {
    background-position: right;
}

.nav > li > a {
    display: block;
    padding: 8px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background: rgb(23, 94, 76); /*#175e4c;*/
}

.nav > li > a > i{
    top: 2px;
}

.nav li ul {
    position: absolute;
    left: -9999px;
    width:auto;
}

.nav > li.hover > ul {
    left: 0;
    width:100%;
}

.nav li li.hover ul {
    left: 100%;
    top: 0;
}

.nav li li a {
    display: block;
    background: rgb(0, 150, 136); /*#009688*/
    position: relative;
    z-index: 100;
    border-top: 1px solid rgb(23, 94, 76); /*#175e4c;*/
}

.nav li li a:hover {
    background: rgb(23, 94, 76); /*#175e4c;*/
}

.nav li li li a {
    background: rgb(0, 150, 136); /*#009688*/
    z-index: 200;
    border-top: 1px solid #1d7a62;
}

.nav li li li a:hover {
    background: rgb(23, 94, 76); /*#175e4c;*/
}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }

    .nav > li {
        float: none;
    }

    .nav > li > .parent {
        background-position: 95% 50%;
    }

    .nav li li .parent {
        background-position: 95% 50%;
    }

    .nav ul {
        display: block;
        width: 100%;
    }

    .nav > li.hover > ul, .nav li li.hover ul {
        position: static;
    }
}

/*End Navigation*/


/*Footer*/
.section-footer {
    background-color: #455a64;
}
/*End footer*/

/*Loading*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

/*end loading*/

/*model*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal.fade .modal-dialog {
    -webkit-transform: none;
    -ms-transform: none;
    transform:none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.modal-content{
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: unset;
}

.modal-header {
    background: rgb(0, 150, 136);
    border-bottom: 1px solid rgb(0, 150, 136);
    color: white;
    font-weight: bold;
    padding: 5px;
}

.modal-header .close {
    margin-top: 0;
}

/*End model*/


/*custom panel*/


.panel {
    border: 1px solid rgb(0, 150, 136);
}

.panel-heading {
    font-weight:bold;
}

/*End custom panel*/

.page-header {
    border-bottom: 1px solid rgb(0, 150, 136);
    margin: 10px 0;
    padding-bottom: 0;
    color:rgb(0, 150, 136);
    font-weight:bold;
}

.page-tool{
    text-align:right;
    padding-top:10px;
}

.page-tool > span > i {
    color: rgb(0, 150, 136) !important;    
    font-size:20px;
    cursor: pointer;
}
.page-tool > #deleteBtn > i {
    color: Red !important;
}

@media screen and (max-width: 768px) {
    .page-tool{
        text-align:left;
        padding-top:5px;
        padding-bottom:3px;
    }
}

.form-control {
    font-size: 12px;
    height: 28px;
}

.color-red {
    color:red;
}