<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-12">
                <a href="/" class="logo">
                    <img src="~/Images/login_logo.png" />
                </a>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12 notifications-menu">
                <ul class="right-bar">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Lịch làm việc">
                            <i class="fa fa-calendar"></i>
                            <span class="label label-schedule">4</span>
                        </a>
                        <div class="dropdown-menu panel panel-schedule">
                            <div class="panel-heading">Lịch làm việc</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 schedule-content">
                                        <!-- start message -->
                                        <a href="#">
                                            <h4>
                                                <i class="fa fa-clock-o"></i> 25/05/2017 10:00
                                                <small></small>
                                            </h4>
                                            <p>Cuộc họp nội bộ</p>
                                        </a>
                                    </div>
                                    <div class="col-md-12 schedule-content">
                                        <!-- start message -->
                                        <a href="#">
                                            <h4>
                                                <i class="fa fa-clock-o"></i> 25/05/2017
                                                <small></small>
                                            </h4>
                                            <p>Nộp báo cáo công việc trong tuần</p>
                                        </a>
                                    </div>
                                    <div class="col-md-12 schedule-content">
                                        <!-- start message -->
                                        <a href="#">
                                            <h4>
                                                <i class="fa fa-clock-o"></i> 25/05/2017
                                                <small></small>
                                            </h4>
                                            <p>Nộp bản kế hoạch công việc đầu tuần</p>
                                        </a>
                                    </div>
                                    <div class="col-md-12 schedule-content">
                                        <!-- start message -->
                                        <a href="#">
                                            <h4>
                                                <i class="fa fa-clock-o"></i> 25/05/2017
                                                <small></small>
                                            </h4>
                                            <p>Đánh giá kết quả công việc tuần</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">Xem tất cả lịch làm việc</div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Thông báo">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-notification">99</span>
                        </a>
                        <div class="dropdown-menu panel panel-notification">
                            <div class="panel-heading">Thông báo</div>
                            <div class="panel-body"></div>
                            <div class="panel-footer">Xem tất cả thông báo</div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Công việc trong tuần">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-task">9</span>
                        </a>
                        <div class="dropdown-menu panel panel-task">
                            <div class="panel-heading">Nhiệm vụ - Công việc trong tuần</div>
                            <div class="panel-body"></div>
                            <div class="panel-footer">Xem tất cả công việc trong tuần</div>
                        </div>
                    </li>
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/Files/User/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">Alexander Pierce</span>
                        </a>
                        <div class="dropdown-menu panel panel-profile">
                            <div class="panel-heading">
                                <img src="/Files/User/user2-160x160.jpg" class="img-circle" alt="User Image">
                                <h5>Tran dinh hung</h5>
                                <small>Tu 20/01/2011</small>
                            </div>
                            <div class="panel-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Thông tin</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/home/logout" class="btn btn-default btn-flat">Đăng xuất</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
