<div class="row section-navbar">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <a class="toggleMenu" href="#">Menu</a>
        <ul class="nav">
            <li class="test">
                <a href="#"><i class="glyphicon glyphicon-eye-open"></i>  Tổng quan</a>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-book"></i> Kho hàng</a>
                <ul>
                    <li>
                        <a href="javascript:;"><i class="glyphicon glyphicon-th"></i> Danh mục</a>
                        <ul>
                            <li>
                                <a href="/warehouse/goodsgroup"><i class="glyphicon glyphicon-th"></i> Nhóm hàng hóa</a>
                            </li>
                            <li>
                                <a href="/warehouse/goods"><i class="glyphicon glyphicon-th"></i> Hàng hóa</a>
                            </li>
                            <li>
                                <a href="/warehouse/unit"><i class="glyphicon glyphicon-th"></i> Đơn vị tính</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/warehouse/stockin"><i class="glyphicon glyphicon-th"></i> Nhập kho</a>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-usd"></i> Thiết lập giá</a>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-equalizer"></i> Kiểm kho</a>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-equalizer"></i> Đặt hàng nhà cung cấp</a>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-equalizer"></i> Trả hàng nhà cung cấp</a>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-equalizer"></i> Nhập kho</a>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-equalizer"></i> Xuất kho</a>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-equalizer"></i> Chuyển kho</a>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-equalizer"></i> Báo cáo - Thống kê</a>
                        <ul>
                            <li>

                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-transfer"></i> Giao dịch</a>
                <ul>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-check"></i> Đặt hàng</a>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-briefcase"></i> Hóa đơn</a>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-equalizer"></i> Trả hàng</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-male"></i> Đối tác</a>
                <ul>
                    <li>
                        <a href="/partner/customergroup/index"><i class="fa fa-address-card" aria-hidden="true"></i> Nhóm khách hàng</a>
                    </li>
                    <li>
                        <a href="/partner/customer/index"><i class="fa fa-address-card" aria-hidden="true"></i> Khách hàng</a>
                    </li>
                    <li>
                        <a href="/partner/suppliergroup/index"><i class="fa fa-handshake-o" aria-hidden="true"></i> Nhóm nhà cung cấp</a>
                    </li>
                    <li>
                        <a href="/partner/supplier/index"><i class="fa fa-handshake-o" aria-hidden="true"></i> Nhà cung cấp</a>
                    </li>
                    <li>
                        <a href="/partner/delivergroup/index"><i class="fa fa-address-card-o" aria-hidden="true"></i> Nhóm đối tac giao hàng</a>
                    </li>
                    <li>
                        <a href="/partner/deliver/index"><i class="fa fa-address-card-o" aria-hidden="true"></i> Đối tac giao hàng</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-usd"></i> Sổ quỹ</a>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-signal"></i> Báo cáo</a>
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Cuối ngày</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Cuối ngày</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Cuối ngày</a>
                    </li>
                    <li>
                        <a href="#">Womens</a>
                        <ul>
                            <li><a href="#">Wool</a></li>
                            <li><a href="#">Knitwear</a></li>
                            <li><a href="#">Light Sweaters</a></li>
                            <li><a href="#">Cardigans</a></li>
                            <li><a href="#">Hoodies</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-signal"></i> Quản lý</a>
                <ul>
                    <li>
                        <a href="/internal/branch/index"><i class="fa fa-bar-chart" aria-hidden="true"></i> Chi nhánh</a>
                    </li>
                    <li>
                        <a href="/internal/employee/index"><i class="fa fa-bar-chart" aria-hidden="true"></i> Nhân viên</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Trang thiết bị</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Cấu trúc công ty</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-signal"></i> Cài đặt - Hệ thống</a>
                <ul>
                    <li>
                        <a href="/internal/branch/index"><i class="fa fa-bar-chart" aria-hidden="true"></i> Tài khoản đăng nhập</a>
                    </li>
                    <li>
                        <a href="/internal/employee/index"><i class="fa fa-bar-chart" aria-hidden="true"></i> Quyền</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Lịch sử thao tác</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Thiết lập mẫu in</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Lịch</a>
                <ul>
                    <li><a href="#">Nghỉ phép</a></li>
                    <li><a href="#">Lịch làm việc</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Trợ giúp</a>
            </li>
            <li>
                <a href="#">Outerwear</a>
                <ul>
                    <li>
                        <a href="#">Womens</a>
                        <ul>
                            <li><a href="#">Winter</a></li>
                            <li><a href="#">Spring/Fall</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Mens</a>
                        <ul>
                            <li><a href="#">Winter</a></li>
                            <li><a href="#">Spring/Fall</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Shipping Info</a>
            </li>
        </ul>
    </div>
</div>