
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@section header{
    <style>
        .form-title{
            margin-top:10px;
            margin-bottom:10px;
        }
    </style>
}

<div class="row mrg-top-50">
    <div class="col-lg-5 col-md-4 col-sm-3"></div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" ng-controller="userLoginController">
        <form name="loginForm" class="">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Đăng nhập</h2>
                </div>
            </div>
            <div class="alert alert-danger" ng-show="loginForm.userName.$touched && loginForm.userName.$invalid">
                <label ng-show="loginForm.userName.$touched && loginForm.userName.$invalid"><strong>!</strong> Tên đăng nhập không được rỗng</label>
            </div>
            <div class="row">
                <div class="col-md-12">
                    Tên đăng nhập
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="text" name="userName" ng-model="user.userName" required class="form-control"/>
                    <p ng-show="loginForm.userName.$invalid && !loginForm.userName.$pristine" class="text-danger">Tên đăng nhập không được rỗng</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    Mật khẩu
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="password" name="password" ng-model="user.password" class="form-control" required />
                    <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="text-danger">Mật khẩu không được rỗng</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" class="btn-primary" value="Đăng nhập"/>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-5 col-md-4 col-sm-3"></div>
</div>

@section script{

    <script>
       

    </script>
}